.page {
  min-height: 100vh;
  background-image: url('../../../../assets/images/login_page_background.png');
  background-size: cover;
  background-position: center top -120px;
  background-repeat: no-repeat;
}